
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
@font-face {
    font-family: 'Pokemon';
    src: url('font/PokemonSolid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'game';
    src: url('font/Games.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
}
:root{
    --fundo: #0D001A;
    --fundo2: #1F163D;
    --fundo3: #2A1D51;
    --claro: #274a87;
    --texto: #a3b8d9;
    --contraste: #d49b7f;
    --azul1: #6CEDED;
}
main{
    background-color: var(--fundo);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--texto);
}
.card img{
    width: 7rem;
}
.card{
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: 2px solid var(--claro);     
    border-radius: 8px;
    padding: 20px;
    box-shadow: 2px 2px 5px var(--claro), 0 0 15px var(--claro);
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 70%;
    letter-spacing: 1px;
    cursor: pointer;
    background-color: var(--fundo);
}
.card:hover{
    background-color: var(--fundo2);
    box-shadow: 2px 2px 5px var(--contraste), 0 0 15px var(--contraste);
}
.card h6{
    color: var(--contraste);
}
.tipo{
    margin: 0.3rem;
    display: flex;
    gap: 1rem;
}
.tipo h5{
    border: 1px solid white;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: var(--claro);
    width: 3.5rem;
    font-family: 'Nunito', sans-serif;
}
.lista{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    width: 70rem;
}
.filtros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70rem;
    font-family: 'Nunito', sans-serif;
    font-size: 80%;
    margin-bottom: 0.4rem;
}
.elemento{
    padding-left: 3rem;
}
.elemento select{
    border: 1px solid var(--texto);
    background-color: var(--fundo2);
    color: var(--texto);
    color: var(--texto);
    border-radius: 0.5rem;
    font-size: 120%;
    font-family: 'Nunito', sans-serif;
    cursor: pointer;
}
.elemento button{
    border: 1px solid var(--texto);
    background-color: var(--claro);
    color: var(--texto);
    color: var(--texto);
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 110%;
    padding: 0.2rem 1rem 0.2rem 1rem;
}
.elemento button:hover{
    border: 1px solid var(--contraste);
}
.setas{
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0.3rem;
    padding-right: 3rem;
}
.setas img{
    filter: invert(100%);
    width: 2rem;
    cursor: pointer;
}
/* inicio */
#titulo{
    font-family: 'Pokemon';
    font-size: 700%;
    color: #FFDE00;
    text-shadow: 
    -5px -5px 0 rgb(61, 108, 185),
     5px -5px 0 rgb(61, 108, 185),
    -5px  5px 0 rgb(61, 108, 185),
     5px  5px 0 rgb(61, 108, 185),
     0px -5px 0 rgb(61, 108, 185),
     0px  5px 0 rgb(61, 108, 185),
    -5px  0px 0 rgb(61, 108, 185),
     5px  0px 0 rgb(61, 108, 185);
}
.barraPesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}
.barraPesquisa img{
    width: 2rem;
    filter: invert(100);
    cursor: pointer;
}
#pesquisa{
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 40rem;
    height: 2rem;
    border-radius: 0.6rem;
    background-color: var(--fundo2);
    color: var(--texto);
    border: 3px solid var(--texto);
}

/* header */
header{
    background-color: var(--fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo_header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}
.logo_header img{
    width: 8rem;
}
header a{
    text-decoration: none;
}
header h1{
    font-family: 'Pokemon';
    color: white;
    font-size: 300%;
    text-shadow: 
    -2px -2px 0 var(--claro),
     2px -2px 0 var(--claro),
    -2px  2px 0 var(--claro),
     2px  2px 0 var(--claro),
     0px -2px 0 var(--claro),
     0px  2px 0 var(--claro),
    -2px  0px 0 var(--claro),
     2px  0px 0 var(--claro);
    margin-top: -8.3rem;
}
nav{
    display: flex;
    justify-content: space-evenly;
    width: 60rem;
}
.nav_grupo{
    display: flex;
    align-items: center;
    gap: 2rem;
    font-family: 'Nunito', sans-serif;
    font-size: 90%;
}
.nav_grupo a{
    text-decoration: none;
    color: var(--texto);
    font-size: 120%;
}
.nav_grupo a:hover{
    color: var(--contraste);
}



/* jogo */
.jogo{
    display: flex;
    flex-direction: column;
    height: 40rem;
}
.pergunta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.poke img{
    width: 25rem;
    background-color: var(--fundo);
    border: var(--claro) 3px solid;
    border-radius: 3rem;
    box-shadow: 2px 2px 5px var(--claro), 0 0 15px var(--claro);
    padding: 2rem;
}
.som{
    width: 5rem;
    filter: invert(100%);
    cursor: pointer;
}
.alter{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.op{
    border: 3px solid black;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--fundo2);
    box-shadow: 2px 2px 5px var(--contraste), 0 0 15px var(--contraste);
}
.op:hover{
    background-color: var(--contraste);
    color: black;
}

/* pagina pokemon */
.poke_id{
    display: flex;
    align-items: center;
    justify-content: center;
}
.poke_id img{
    width: 4rem;
}

.poke_img img{
    width: 25rem;
    border: var(--azul1) 0.4rem solid;
    border-radius: 3rem;
}
.poke_1{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    font-family: 'Press Start 2P', cursive;
}
#poke_nome{
    margin-top: 1rem;
}
.poke_principal{
    display: flex;
    gap: 10rem;
}
/* poke_2 */
.poke_2{
    margin-top: 3rem;
}
.poke_tipo{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Press Start 2P', cursive;
    gap: 1rem;
    border-radius: 2rem;
    width: 35rem;
    padding: 1rem;
    background-color: var(--fundo2);
}
.poke_tipo2{
    display: flex;
    gap: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Nunito', sans-serif;
}
.poke_tipo2 h3{
    border-radius: 0.8rem;
    width: 7rem;
    background-color: var(--contraste);
    padding: 0.4rem;
    color: white;
    text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black,
     0px -1px 0 black,
     0px  1px 0 black,
    -1px  0px 0 black,
     1px  0px 0 black;
}
.poke_4{
    margin-top: 3rem;
    font-family: 'Press Start 2P', cursive;
    padding: 1rem;
    background-color: var(--fundo2);
    border-radius: 1rem;
    width: 35rem;
}
.poke_4 h1{
    background-color: var(--fundo3);
    padding: 0.7rem;
    border-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    font-size: 130%
}

.poke_4 h2{
    padding: 1rem;
    width: 33rem;
    font-size: 130%
}

.poke_5{
    background-color: var(--fundo2);
    margin-top: 3rem;
    width: 15rem;
    margin-left: 20rem;
    padding: 1rem;
    border-radius: 1rem;
}