/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap'); /*font-family: "Jersey 20", sans-serif;  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');  /* font-family: "Montserrat", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); /* font-family: "Roboto", sans-serif; */

*{
    margin: 0;
}
:root{
    --branco: white;
    --preto: black;
    --teste: #1F163D;
    --azul-botao: #14CDFF;
    --laranja_contraste: #d49b7f;
    --fundo_poke: #140D29;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    background-color: var(--teste);
}
.m_header_home a{
    display: flex;
    align-items: center;
    color: var(--branco);
    text-decoration: none;
    gap: 0.2rem;
    font-size: 70%;
    font-family: "Jersey 20", sans-serif;
}
.m_header_home a img{
    width: 2rem;
}
.m_header_nav{
    display: flex;
    gap: 1rem;

}
.m_header_a{
    color: var(--branco);
    font-family: "Jersey 20", sans-serif;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 3px;
}
.m_header_a:hover{
    color: var(--laranja_contraste);
    text-shadow:
        0 0 6px var(--laranja_contraste),
        0 0 20px var(--laranja_contraste),
        0 0 40px var(--laranja_contraste);
}
.m_header_marcado{
    color: var(--azul-botao);
    text-shadow:
        0 0 6px var(--azul-botao),
        0 0 20px var(--azul-botao),
        0 0 40px var(--azul-botao);
}
.m_header_marcado:hover{
    color: var(--azul-botao);
}
.m_header_direito{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.m_header_direito a{
    display: flex;
    align-items: center;
}
.m_header_botao_login{
    color: var(--preto);
    background-color: var(--azul-botao);
    text-decoration: none;
    font-family: "Jersey 20", sans-serif;
    font-size: 80%;
    padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 3px var(--azul-botao), 0 0 5px var(--azul-botao);
}
.m_header_botao_login:hover{
    background-color: var(--laranja_contraste);
    box-shadow: 1px 1px 3px var(--laranja_contraste), 0 0 5px var(--laranja_contraste);
}
.m_header_lupa{
    width: 1rem;
}
.m_header_menu{
    width: 1.5rem;
}

/* ------------------- pagina pokemon -------------- */
.m_pag_poke{
    background-color: var(--fundo_poke);
    padding: 2rem;
}
.m_poke_titulo{
    color: #444444;
    padding-top: 5rem;
    padding-left: 10rem;
    font-family: "Montserrat", sans-serif;
}
.m_poke_pricipal{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.m_poke_pokemon{
    display: flex;
    border: 3px solid #00B9F1;
    border-radius: 1rem;
    padding: 1rem;
    background-color: #162431;
    font-family: "Montserrat", sans-serif;  
    gap: 2rem;
}
.m_poke_dados{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
.m_poke_nome{
    color: var(--branco);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
}
.m_poke_nome h2{
    color: #C8C8C8;
}
.m_poke_tipo{
    display: flex;
    gap: 0.5rem;
}
.m_poke_tipo h4{
    background-color: #FDA05B;
    border-radius: 2rem;
    padding: 0.1rem 1rem 0.1rem 1rem;
    font-size: 70%;
    color: var(--branco);
}
.m_poke_pokemon p{
    color: #7B7C7F;
    width: 15rem;
    font-size: 80%;
}
.m_poke_master{
    position: absolute;
}
.m_poke_pokemon_img span{
    background-color: #FDA05B;
    color: #FDA05B;
    padding: 8rem;
    border-radius: 100%;
    position: absolute;
    z-index: 1;
    margin-left: 1rem;
    margin-top: 1rem;
}
.m_poke_pokemon_img img{
    position: relative;
    z-index: 999;
}
.m_poke_medidas{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    font-family: "Jersey 20", sans-serif;
}
.m_poke_medidas_wt{
    background-color: #20788A;
    width: 5rem;
    color: var(--branco);
    border-radius: 0.3rem;
    padding: 0.3rem;
    display: flex;
    justify-content: left;
    padding-left: 0.5rem;
    gap: 0.3rem;
}
.m_poke_medidas_ht span{
    color: #FF2975;
}
.m_poke_medidas_ht{
    background-color: #5B1D9E;
    width: 5rem;
    color: var(--branco);
    border-radius: 0.3rem;
    padding: 0.3rem;
    display: flex;
    justify-content: left;
    padding-left: 0.5rem;
    gap: 0.3rem;
}
.m_poke_medidas_wt span{
    color: #FFB400;
}
.m_poke_fraq{
    color: var(--branco);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.m_poke_fraq .m_poke_tipo{
    padding-left: 0.3rem;
}
.m_poke_habilit{
    background-color: #969696;
    width: 20rem;
    height: 15rem;
    overflow: auto;
    padding: 1rem;
    font-family: "Jersey 20", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 1rem;
    margin: auto;
}
.m_poke_habilit h3{
    color: #F9F9F9;
    font-size: 160%;
}
.m_poke_habilit p{
    font-family: "Roboto", sans-serif;
    color: var(--preto);
    font-weight: bold;
}
/* extra */
.m_poke_extras{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-top: 2rem;
}
.m_poke_sequencia{
    display: flex;
    flex-direction: column;
}
.m_poke_seq_titulo{
    display: flex;
    color: #444444;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.3rem;
}
.m_poke_cards{
    display: flex;
    gap: 1rem;
}
.m_poke_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FDA05B;
    border-radius: 1rem;
    height: 18rem;
    color: var(--branco);
    padding: 0.3rem;
}
.m_poke_card img{
    width: 8rem;
}
/* sequencia */
.m_poke_evo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.m_poke_evo_titulo{
    color: #444444;
}
.m_poke_evo_quadrado{
    display: flex;
    background-color: #202020;
    border: 3px solid var(--branco);
    border-radius: 2rem;
    padding: 2rem 3rem 2rem 3rem;
    gap: 2rem;
    color: var(--branco);
    font-size: 120%;
}
.m_poke_evo_card img{
    width: 7rem;
    border: 2px solid var(--branco);
    border-radius: 100%;
    padding: 0.5rem;
}
.m_poke_evo_card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.m_poke_evo_card_nome{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.m_poke_evo_card .m_poke_tipo{
    align-items: center;
    justify-content: center;
}